[Unit]
Description=Mini API
After=network.target

[Service]
Type=simple
KillMode=control-group

WorkingDirectory=/opt/
RestartSec=5
Restart=always
ExecStart=/usr/bin/python3 /opt/systemdInfo.py

[Install]
WantedBy=multi-user.target