[Unit]
Description=Xpra

[Service]
User=zapzap
Group=zapzap
RestartSec=5s
Type=notify
NotifyAccess=all
PIDFile=/run/zapzap/xpra.pid
RuntimeDirectory=zapzap
RuntimeDirectoryMode=0700
EnvironmentFile=/opt/zapzap/defaults.env
WorkingDirectory=/opt/zapzap
PrivateTmp=true
Restart=always
ExecStart=/opt/zapzap/xpra-service.sh
ExecStop=/usr/bin/xpra stop --display=${DISPLAY}
  
[Install]
WantedBy=xpra-zapzap.target