[Unit]
Description=Xpra Zapzap
After=network.target

[Service]
Type=simple
KillMode=control-group
TimeoutStopSec=10
User=zapzap
Group=zapzap
EnvironmentFile=/opt/zapzap/defaults.env
WorkingDirectory=/opt/zapzap
RestartSec=10
Restart=always
ExecStart=/usr/bin/xpra start --daemon=no \
  --bind-tcp=0.0.0.0:10000 \
  --html=on $DISPLAY

[Install]
WantedBy=multi-user.target